footer {
  background-color: #2c3e50;
  height: 55px;
  font-size: 10px;
  color: white;
}
footer .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer ul {
  display: flex;
}
footer li {
  padding: 0 5px;
}
footer li:first-child {
  padding-left: 0;
}
footer li:last-child {
  padding-right: 0;
}
@media screen and (min-width: 768px) {
  footer {
    font-size: 14px;
  }
}
@media screen and (min-width: 1000px) {

}
