* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}
a {
  color: inherit;
}
body {
  font-size: 16px;
  overflow-x: hidden;
}
main {
  padding: 20px 0;
}

.container {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}
.col {
  float: left;
  padding: 10px;
}
.col.s1 {
  width: 8.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.col.s2 {
  width: 16.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.col.s3 {
  width: 25%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.col.s4 {
  width: 33.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.col.s5 {
  width: 41.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.col.s6 {
  width: 50%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.col.s7 {
  width: 58.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.col.s8 {
  width: 66.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.col.s9 {
  width: 75%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.col.s10 {
  width: 83.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.col.s11 {
  width: 91.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.col.s12 {
  width: 100%;
  margin-left: auto;
  left: auto;
  right: auto;
}

@media screen and (min-width: 768px) {
  .col.m1 {
  width: 8.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto;
}
.col.m2 {
  width: 16.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto;
}
.col.m3 {
  width: 25%;
  margin-left: auto;
  left: auto;
  right: auto;
}
.col.m4 {
  width: 33.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto;
}
.col.m5 {
  width: 41.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto;
}
.col.m6 {
  width: 50%;
  margin-left: auto;
  left: auto;
  right: auto;
}
.col.m7 {
  width: 58.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto;
}
.col.m8 {
  width: 66.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto;
}
.col.m9 {
  width: 75%;
  margin-left: auto;
  left: auto;
  right: auto;
}
.col.m10 {
  width: 83.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto;
}
.col.m11 {
  width: 91.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto;
}
.col.m12 {
  width: 100%;
  margin-left: auto;
  left: auto;
  right: auto;
  }
}
@media screen and (min-width: 1100px) {
   .col.l1 {
    width: 8.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
   .col.l2 {
    width: 16.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
   .col.l3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
   .col.l4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
   .col.l5 {
    width: 41.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
   .col.l6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
   .col.l7 {
    width: 58.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
   .col.l8 {
    width: 66.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
   .col.l9 {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
   .col.l10 {
    width: 83.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
   .col.l11 {
    width: 91.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
   .col.l12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
}


.bold {
  font-weight: bold;
}
.uppercase {
  text-transform: uppercase;
}
.capital {
  text-transform: capitalize;
}
.lowercase {
  text-transform: lowercase;
}
.no-padding {
  padding: 0 !important;
}
.no-pad-left {
  padding-left: 0 !important;
}
.no-margin {
  margin: 0 !important;
}
.input-field {
  margin-bottom: 20px;
}
.card {
  box-shadow: 0 0px 2px 0 rgba(46,62,72,.12), 0 2px 4px 0 rgba(46,62,72,.12);
}

@media screen and (min-width: 768px) {

}
