nav {
  width: 100%;
  background-color: rgb(47, 184, 85);
  height: auto;
  color: white;
}
nav ul {
  height: 100%;
  display: flex;
  flex-direction: column;
}
nav ul li {
  transition: all .4s;
  width: 100%;
}
nav ul li:not(:first-child):hover {
  background-color: rgb(37, 158, 71);
}
nav > ul > li:not(:first-child) {
  visibility: hidden;
}
nav > ul.active > li:not(:first-child) {
  visibility: visible;
}
nav > ul > li:first-child {
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav > ul > li:first-child a {
  padding: 10px 0;
}
nav > ul > li:first-child a:first-child {
  font-size: 20px;
}
nav > ul > li:not(.dropdown):first-child > a:last-child {
  font-size: 18px;
}
nav > ul > li:not(:first-child) a {
  height: 0;
  padding: 0;
  transition: height .4s, padding .4s;
}
nav > ul.active > li:not(:first-child) a {
  height: auto;
  padding: 20px 0;
}
nav ul li:last-child {
  padding-right: 0;
}
nav ul li:not(:first-child) a {
  display: block;
}
nav ul li.dropdown ul {
  background-color: rgb(47, 184, 85);
  flex-direction: column;
  padding-left: 15px;
  width: 100%;
  height: auto;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: all .4s;
}
nav ul li.dropdown.active {
  background-color: rgb(37, 158, 71);
}
nav ul li.dropdown.active ul {
  z-index: 9999;
  position: relative;
  opacity: 1;
  visibility: visible;
  transition: all .4s;
}
@media screen and (min-width: 768px) /*handphone*/ {
  nav {
    height: 55px;
  }
  nav ul {
    flex-direction: row;
  }
  nav > ul > li {
    width: auto;
    line-height: 55px;
    visibility: visible !important;
  }
  nav > ul >li > a {
    padding: 0 !important;
  }
  nav ul li a {
    padding: 0 20px !important;
    height: 100% !important;
  }
  nav > ul > li:first-child a:last-child {
    display: none;
  }
  nav > ul > li:last-child {
    margin-left: auto;
    padding-right: 0;
  }
  nav ul ul {
    padding-left: 0 !important;
    width: 182px !important; /*based on parent width look on browser*/
    position: absolute !important;
  }
  nav ul ul li {
    padding: 20px 0;
    line-height: normal;
  }
}

@media screen and (min-width: 1000px) /*desktop*/{

}
