@import url("general.css");
@import url("nav.css");
@import url("footer.css");

.admin {
  float: right;
  display: flex;
}
header {
  height: calc(80vh - 55px);
  background-color: #f2f2f2;
}
main input[type="search"] {
  overflow: hidden;
  border: 1px solid #d0d0d0;
  padding: 5px 10px;
  width: 50%;
  margin-bottom: 20px;
}
main input[type="search"]:first-of-type {
  border-radius: 4px 0 0 4px;
  float: left;
  border-right: 0;
}
main input[type="search"]:last-of-type {
  border-radius: 0 4px 4px 0;
  float: right;
}
figure img {
  width: 100%;
  object-fit: cover;
  height: calc(300px - 120px);
}
figcaption {
  padding: 20px;
}
figcaption p {
  margin-bottom: 20px;
}
figcaption > div {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #c9c9c9;
}
figcaption > div a:last-child {
  color: #2e8ac4;
}
@media screen and (min-width: 768px) {

}
@media screen and (min-width: 1000px) {

}
