@import url('../general.css');
@import url('nav.css');

main, header, footer {
  float: right;
}
header {
  float: right;
  height: 50px;
  background-color: #3e91c8;
}
header ul {
  padding-right: 5%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
}
header li a {
  display: inline-block;
  height: 100%;
  width: 100%;
}
header li img {
  height: 25px;
  width: 25px;
  vertical-align: middle;
  border-radius: 50%;
  margin-right: 10px;
}
main {
  padding: 20px 0;
  background-color: #f9f9f9;
  /* min-height: 100vh; */
}
main table {
  width: 100%;
  border-spacing: 0;
  table-layout: fixed;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #d7d5d5;
}
main thead {
  border-radius: 4px;
  background-color: rgb(39, 53, 71);
  color: white;
}
main thead th {
  padding: 10px;
}
main tbody tr:nth-of-type(odd) {
  background-color: #ededed;
}
main tbody td {
  padding: 10px;
  text-align: center;
  overflow: hidden;
}
main tbody td:not(:last-of-type) {
  border-right: 1px solid #d7d5d5;
}
form label {
  margin: 10px 0;
}
form input, textarea {
  padding: 10px;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  width: 100%;
}
form input[type="file"] {
  border: none;
  padding: 10px 0;
}
form button[type="submit"] {
  margin-bottom: 20px;
  float: right;
  height: 46px;
  padding: 0 1rem;
  border-radius: 4px;
  background-color: #34abcb;
  color: white;
  border: 1px solid #34abcb;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  main, header, footer {
    width: calc(100% - 300px);
  }
  header {
    width: calc(100% - 300px);
  }
  form div.input-field label {
    display: block;
  }
  form div.input-field:first-of-type, form div.input-field:nth-of-type(5),
  form div.input-field:nth-last-of-type(2) {
    width: 48%;
    float: left;
  }
  form div.input-field:nth-of-type(2),form div.input-field:nth-of-type(6),
  form div.input-field:last-of-type {
    width: 48%;
    float: right;
  }
  form div.input-field:nth-of-type(5) {

  }
  form div.input-field:nth-of-type(6) {

  }
}
