nav {
  background-color: #ffffff;
  border-right: 1px solid #dbdbdb;
  color: black;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
}
nav > ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
nav li:first-child {
  height: 50px;
  line-height: 50px;
  width: calc(100% + 1px);
  padding: 0 20px;
  background-color: #54a7df;
  color: white;
  font-size: 1.5rem;
  letter-spacing: 1.5px;
}
nav li:not(:first-child) {
  padding: 20px;
  border-bottom: 1px solid #dbdbdb;
}
@media screen and (min-width: 768px) {
  nav {
    width: 300px;
  }
}
